/* Place CSS styles here */

body {
    background-image: url(../img/high-resolution-ocean-sunset-photo-l.jpg);
}

img {
    width: 100%;
    height: auto;
}

.pink-koala-image-wrapper {
    text-align: center;
}

.pink-koala-image-wrapper img {
    width: 200px;
}

.logo {
    width: 150px;
}

.checkout-image {
    width: 60px;
}

.thor-header-text {
    display: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, .5)
}

.pink-koala-flex-image-wrapper {
    display: flex;
}

.pink-koala-flex-image-wrapper img {
    width: 250px;
}

.pink-koala-items {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.pink-koala-item {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 8px;
}

.pink-koala-item img {
    width: 200px;
}

footer {
    background-color: lightgrey;
    padding: 20px;
    text-align: center;
}